<form class="form-signin" (ngSubmit)="onSubmit(f.value)" #f="ngForm">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Generic Input Form</h1>
  </div>

  <app-generic-input
    [placeholder]="'Full Name'"
    [validatorFns]="nameValidators"
    [errorMsg]="'Please enter a valid name.'"
    [label]="'Full Name'"
    ngModel
    name="name"
  >
  </app-generic-input>

  <app-generic-input
    [placeholder]="'Age'"
    [validatorFns]="ageValidators"
    [errorMsg]="'Please enter a valid age.'"
    [label]="'Age'"
    ngModel
    name="age"
  ></app-generic-input>

  <app-generic-input
    [placeholder]="'Email'"
    [validatorFns]="emailValidators"
    [errorMsg]="'Please enter a valid email address.'"
    [label]="'User Email'"
    ngModel
    name="email"
  >
  </app-generic-input>

  <button
    class="btn btn-lg btn-primary btn-block"
    [disabled]="!f.valid"
    type="submit"
  >
    Sign in
  </button>
</form>
